@model IEnumerable<CSharpCollective.Services.DtoModels.PostDto>;

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
    var role = HttpContextAccessor.HttpContext.Session.GetString("UserRole");
}
<link rel="stylesheet" href="~/css/Post.css" asp-append-version="true" />

<div class="main">


    <partial name="_Sidebar" />
    <div class="posts">
        <h2>Posts</h2>

        @if (role == "Admin")
        {

            <a asp-controller="Post" asp-action="Create" class="btn btn-primary">Create New Post</a>
        }


        <div class ="post1">
        @foreach (var post in Model)
        {
            <div class="card mb-3 p-3">
                <h4>@post.Title</h4>
                <a>@post.Content</a>
                <p>@post.AuthorName</p>




                @if (role == "Admin")
                {
                    <div>
                        <p>Post Id: @post.Id</p>
                        <p>Author Id: @post.AuthorId </p>
                        <section class="buttons">
                            <a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id.ToString()" class="btn btn-danger btn-sm">Edit</a>

                            <a asp-controller="Post" asp-action="AddCategory" asp-route-id="@post.Id.ToString()" class="btn btn-danger btn-sm">Add category</a>

                            <a asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-danger btn-sm">Delete</a>
                        </section>


                    </div>
                }
            </div>

        }

        </div>

    </div>
</div>